.landing__container {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    background-image: url('/public/images/snowblow_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.landing__content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing__content h1 {
    font-size: 4rem;
    color: #DDDDDD;
    text-align: center;
}

.landing__content button {
    padding: 1rem 0rem;
    border-radius: 5%;
    align-items: center;
    width: 300px;
    font-size: large;
    background-color: #DDDDDD;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.landing__content button:hover{
    background-color: #958c8c;
    cursor: pointer;
}

.title {
    padding: 3rem 0rem;
    margin: 0rem 25rem;
    display: flex;
    justify-content: center;
    max-height: auto;
    top: 15rem;
}

.video {
    position: relative;
    margin-top: 5rem;
}